# General ignores
*.swp

# IntelliJ IDEA

.idea

# Ignores for backend
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
/quiz/.idea/
/quiz/target/
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
